.button {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  margin-top: 10px;

  border: 1px solid #367aff;
  border-radius: 12px;
  padding: 16px 8px;
  height: 54px;

  box-shadow: inset 0 -2px 0 1px rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(54, 122, 255, 0.03);
  background: linear-gradient(
                  0deg,
                  rgba(255, 255, 255, 0) 0%,
                  rgba(255, 255, 255, 0.12) 100%
  ),
  #242edb;

  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fff;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #cccccc;
  cursor: default;
}
