.authPage {
  width: 527px;
  border-radius: 40px;
  padding: 6px;
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  margin: auto;
  position: relative;


}

.formWrapper {
  border-radius: 34px;
  padding: 48px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(35, 35, 35, 0.03) 0%, rgba(35, 35, 35, 0) 50%);


}

.logo {
  margin: 0 auto 32px;
  display: grid;
  justify-content: center;
  box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.03), 0 0 0 2px #fff;
  background: #fff linear-gradient(360deg, rgba(35, 35, 35, 0) 50%, rgba(35, 35, 35, 0.06) 100%);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  padding: 5px;
}