.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
  position: relative;
}

.label {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #232323;
}

.input {
  border: 1.50px solid #ededed;
  border-radius: 12px;
  padding: 14px 35px 14px 16px;
  display: flex;
  align-items: center;
  height: 55px;
  background: #fff;

  font-weight: 500;
  appearance: none;
  -webkit-appearance: none;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #232323;
  transition: all 0.3s ease;
  &::placeholder{
    font-size: 18px;

  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: #232323;
    -webkit-box-shadow: 0 0 0 1000px white inset;
    transition: background-color 9999s ease-in-out 0s;
  }
}


.input:focus {
  outline: none;
  border-color: #007bff;
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
}

.icon {
  position: absolute;
  top: 52px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #888;
}

.icon:hover {
  color: #333;
}
