.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #6c6c6c;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
  span{
    color: #242edb;
    text-decoration: underline;
    font-weight: 600;
    transition: all 0.3s ease;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: #0056b3;
      }
    }
  }
}