.form {
  display: flex;
  flex-direction: column;

  .titles {
    margin-bottom: 32px;
  }


  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #232323;
    text-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.12);
    margin: 0 0 12px;
  }

  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #e0e0e0;
    text-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.12);
    margin: 0;
  }
}