.separator {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: 16px 0 32px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ededed;
  }


  span {
    font-weight: 500;
    font-size: 16px;
    color: #ebebeb;
    padding: 0 10px;
    background-color: white;
    z-index: 1;
    display: block;
    position: relative;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}