.progressBar {
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: fixed; /* Чтобы был виден поверх всего */
  top: 0;
  left: 0;
  z-index: 9999;
}

.progressBarInner {
  width: 100%;
  height: 100%;
  background-color: #007bff;
  animation: indeterminateAnimation 1.5s infinite linear;
  transform-origin: 0 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(-100%) scaleX(0.5);
  }
  50% {
    transform: translateX(0) scaleX(0.5);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
