.wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.label {
  cursor: pointer;
  font-size: 14px;
  color: #333;
  user-select: none; /* чтобы текст не выделялся при клике */
}

.input {
  margin-right: 8px;
  cursor: pointer;
}
